/* Estilo básico de HTML y body */

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color: #003142;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.2rem;
    color: #fffaf2;
}

h3{
    font-size: 1.8rem;
}

a, ul, li{
    text-decoration: none;
    list-style: none;
}

p, li{
    font-size: 1.4rem;
}



/* formularios */

input[type="time"] {
    color: black;
    font-size: 12px;
}

input[type="text"] {
    color: black;
    font-size: 12px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem 1rem;
    width: 600px;
    background-color: #4a7a8c;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  form label {
    grid-column: 1;
    align-self: center;
    font-weight: bold;
    color: #ffffff;
  }
  
  form input,
  form select,
  form input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.linea-divisoria {
    width: 5px; /* Ancho de la línea */
    background-color: #ccc; /* Color de la línea */
    height: 100%; /* Para que abarque toda la altura del contenedor */
  }
  .boton_empresa{
    width: 100%;
  }
  .encabezado_empresa,.encabezado_sucursales{
    display: flex; /* Permite alinear elementos en fila */
    flex-direction: column; /* Cambia a columna si deseas que el botón quede abajo del título */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 1rem; /* Espacio entre el título y el botón */
    padding: 2rem 0; /* Opcional: Espacio interno superior e inferior */
}
.imagen_sucursales {
  width: 10%;  /* El contenedor ocupará todo el ancho disponible */
  max-width: 300px; /* Puedes ajustar un límite máximo de tamaño */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}
/* Estilos para la imagen dentro del contenedor */
.imagen_sucursales img {
  width: 100%; /* Ajusta el ancho de la imagen al contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  object-fit: contain; /* La imagen se ajusta sin recortarse, pero podría dejar espacio vacío */
}